body {
    margin: 0px;
    background-color: black;
}

#background {
    content: url("/image/jingle.png");
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;    
}

#container {
    position: fixed;
    top: 60px;
    left: 100px;
    color: white;
}